/*importing  google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Libertinus+Serif:ital,wght@0,400;1,400;1,600;1,700&family=Montserrat+Alternates:wght@400;500;600&family=Playwrite+AU+QLD:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

:root {
    /*colors*/
    --white-color: #fff ; 
    --azul: #1fafbf;
    --verde-azulado: #8ccdb0 ; 
    --cian-apagado: #54a4a6; 

    /*font sizes */

    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*font weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-semibold: 700;

    /*border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%px;

    /*Site max widht*/
    --site-max-width: 1300px ; 
}

/*Styles for the hole page*/

body{
  
}

/* HEADER - NAVBAR*/

header{
   
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   font-family: "Grechen Fuemen";
   font-size: var(--font-size-l);
   font-weight: 400;
   margin-bottom: 0.5rem;
   z-index: 100;
   position: fixed;
}

header .nav-menu ul{
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0 20px;
}

header .menu-items{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: 0.2s ease;
}

header .menu-items:hover{
    color: #fff;
    text-decoration: none;
    background-color: var(--azul);
    border-radius: 15px;
    padding: 10px;
}

header .logo{
    color: #fff;
    text-decoration: none;
}


/* Hero section */


section {
    background: url(./media/background00.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0; 
}

section .hero{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.hero-content {
    margin-top: 1em;
    max-width: 50%;
    padding: 20px;
    color: #fff;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 600;
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: cursive;
}

.hero-content button {
    background-color: #1fafbf;
    font-weight: 500;
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-top: 0.8rem; 
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-content button:hover {
    background-color: #8ccdb0;
    font-weight: 500;
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin-top: 0.8rem; ;
}







