/*importing  google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Libertinus+Serif:ital,wght@0,400;1,400;1,600;1,700&family=Montserrat+Alternates:wght@400;500;600&family=Playwrite+AU+QLD:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
}

html{
scroll-behavior: smooth;
scroll-padding-top: 6rem;
overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--verde-azulado);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius:5rem;
    background: #54a4a6;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #1fafbf ;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #54a4a6;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1); 
}

header .logo{
    font-size: clamp(1rem, 2.5vw, 3rem);
    color: #fff;
    font-weight: 400;
}

header .logo span{
    color:#8ccdb0;
}

header .navbar a{
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #fff;
}

header #toggler{
    display: none;
}

header .ri-file-list-line{
    font-size: 3rem;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

:root {
    /*colors*/
    --white-color: #fff ; 
    --azul: #1fafbf;
    --verde-azulado: #8ccdb0 ; 
    --cian-apagado: #54a4a6; 

    /*font sizes */

    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*font weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-semibold: 700;

    /*border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%px;

    /*Site max widht*/
    --site-max-width: 1300px ; 
}

/*Styles for the hole page*/

@media (max-width:991px) {
    html{
     font-size: 55%;   
    }

    header{
        padding: 2rem;
    }

    section{
        padding:2rem; 
    }

    .home {
        background-position: left;
    }
}

@media (max-width:768px){
    html header .ri-file-list-line{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: 1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0,100% 0,100% 100%,0% 100%)
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #54a4a6;
        border: 1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3{
    font-size: 5rem;
    color: #333;
}

.home .content span {
    font-size: 2.5rem;
}
}

@media (max-width:450px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

/* HEADER - NAVBAR*/

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./media/background00.jpg);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
 font-size: 1rem;
 color: #fff;
 padding: 1rem 0;
 line-height: 1.5;
}



