/*importing  google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Libertinus+Serif:ital,wght@0,400;1,400;1,600;1,700&family=Montserrat+Alternates:wght@400;500;600&family=Playwrite+AU+QLD:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
}

html{
scroll-behavior: smooth;
scroll-padding-top: 6rem;
overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #54a4a6;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1); 
}

header .logo{
    font-size: calc(3rem,2rem) ;
    color: #fff;
    font-weight: 400;
}

header .logo span{
    color:#8ccdb0;
}

header .navbar a{
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #fff;
}

header #toggler{
    display: none;
}

header .ri-file-list-line{
    font-size: 3rem;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

:root {
    /*colors*/
    --white-color: #fff ; 
    --azul: #1fafbf;
    --verde-azulado: #8ccdb0 ; 
    --cian-apagado: #54a4a6; 

    /*font sizes */

    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*font weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-semibold: 700;

    /*border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%px;

    /*Site max widht*/
    --site-max-width: 1300px ; 
}

/*Styles for the hole page*/

@media (max-width:991px) {
    html{
     font-size: 55%;   
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    html header .ri-file-list-line{
        display: block;
    }
}

/* HEADER - NAVBAR*/
